<h2> Your WishList </h2>

<div class = "row">
<% if @wishlists == [] %>
	<p>You don't have a wishlist yet</p>
<% else %>
  <% @wishlists.each do |wishlist| %>
  	<p><a href = "/books/<%= wishlist.book.id %>"> <%= wishlist.book.title %> </a></p>
  <% end %>
 <% end %>
</div>
