<h2> Your WishList </h2>

<div class = "row">
<% if @books == nil %>
	<p>You don't have a wishlist yet</p>
<% else %>
  <% @books.each do |b| %>
  	<p><a href = "/books/<%= book.id %>"> <%= book.title %> </a></p>
  <% end %>
 <% end %>
</div>
