/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


 .top-margin{
  margin-top: 70px;
}
.image-responsive {
  margin-bottom: 30px;
  width: 200px;
  height: 200px; }

.top-margin {
  margin-top: 70px; }
.rating {
  unicode-bidi: bidi-override;
  direction: rtl; }

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em; }

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute; }
.top-margin {
  margin-top: 70px; }
