<h2> Your BookShelf </h2>

<div class = "row">
<% if @bookshelfs == [] %>
  <p>No Books on your bokshelf</p>
<% else %>
  <% @bookshelfs.each do |bookshelf| %>
    <p><a href = "/books/<%= bookshelf.book.id %>"> <%= bookshelf.book.title %> </a></p>
  <% end %>
 <% end %>
</div>
