<h1>Home#index</h1>
<p> at this stage, just display all books </p>
<% @movies.each do |movie| %>
	<%= link_to book.title, book_path(book.id) %>
<% end %>
<p>Find me in app/views/home/index.html.erb</p>
