<div>
  <h1> Edit chapter</h1>
</div>

<%= form_tag "/chapters/#{@chapter.id}?book_id=#{@book.id}", :method => 'patch' do%>

  <%= render "form" %>
  <%= submit_tag "Save" %>

<% end %>

<script>
  $("form").validate();
</script>
