<div>
  <h1> Add a New chapter</h1>
</div>

<%= form_tag "/chapters?book_id=#{@book.id}" do%>

  <%= render "form" %>
  <%= submit_tag "Add Chapter" %>

<% end %>

<script>
  $("form").validate();
</script>
