<% if @review.errors.any? %>
  <div class="alert alert-dismissable alert-danger">
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
<% end %>

  <div>
    <h5> Rate the Book:
    <input type="radio" name="rating" value="1" <% if @review.rating == 1%>checked<% end %> required>1
    <input type="radio" name="rating" value="2" <% if @review.rating == 2%>checked<% end %>>2
    <input type="radio" name="rating" value="3" <% if @review.rating == 3%>checked<% end %>>3
    <input type="radio" name="rating" value="4" <% if @review.rating == 4%>checked<% end %>>4
    <input type="radio" name="rating" value="5" <% if @review.rating == 5%>checked<% end %>>5
    </h5>
  </div>

  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-book fa-fw"></i></span>
    <input class="form-control" type="text" value="<%= @review.description%>" placeholder="Description" name="description" required>
  </div>
  <br>

  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
    <input class="form-control" type="text" value="<%= @user.name%>" placeholder="Author" name="author" readonly>
  </div>
  <br>

  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-book fa-fw"></i> </span>
    <input class="form-control" type="text" value="<%= @book.title%>" placeholder="Book Title" name="book_name" readonly>
  </div>
  <br>
