<div>
  <h1> Add a New Review</h1>
</div>

<%= form_tag "/reviews?book_id=#{@book.id}" do%>

  <%= render "form" %>
  <%= submit_tag "Submit Review" %>

<% end %>

<script>
  $("form").validate();
</script>
